@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans&display=swap');

:root {

    --fonte-padrao:'Open Sans', sans-serif;
    --fonte-destaque:'Koulen', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #190B42;;

}
#parte1 {
    width: 100%;
    height: 100vh;
    background-color: #190B42;
    

}

#parte2 {
    width: 100%;
    height: 100vh;
    background-color: #190B42;
  }
header {

}

main {

}

#mendes-dev {
    height: 88vh;
            background-image: url(../imagens/MENDES-DEV3.gif);
            background-size: 350px;
            background-repeat: no-repeat;
            background-position: center center;
}

main > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}

main > p {
    color: white;
    font-family: var(--fonte-padrao);
}
#eur {
    margin-bottom: 3px;
}
#apresentacao {
    position: absolute;
    color: white;
    font-family: var(--fonte-padrao);
    margin-top: 50px;
    margin-left: 30vh;
    margin-right: 30vh;
}

#seta {
    margin-bottom: 100px;
}

#seta > img:hover {
    cursor: pointer;
    
}

