@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans&display=swap');

:root {

    --fonte-padrao:'Open Sans', sans-serif;
    --fonte-destaque:'Koulen', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #190B42;
    overflow: hidden;

}
#parte1 {
    width: 100%;
    height: 100vh;
    background-color: #190B42;
    

}

#parte2 {
    width: 100%;
    height: 100vh;
    background-color: #190B42;
  }

#parte3 {
    width: 100%;
    height: 100vh;
    background-color: #190B42;
  }
header {

}

main {

}

#mendes-dev {
    height: 88vh;
            background-image: url(../imagens/MENDES-DEV3.gif);
            background-size: 300px;
            background-repeat: no-repeat;
            background-position: center center;
}

main > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}

main > p {
    color: white;
    font-family: var(--fonte-padrao);
}

#linha-do-tempo {
    height: 99vh;
            background-image: url(../imagens/linha-do-tempo.gif);
            background-size: 300px;
            background-repeat: no-repeat;
            background-position: center center;
}
#eur {
    margin-bottom: 3px;
}
#apresentacao {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: large;
    margin-left: 50vh;
    margin-right: 50vh;
}

#seta {
}

#seta > img:hover {
    cursor: pointer;
    
}

#seta2 {
    margin-top: 205px;
}

#seta2 > img:hover {
    cursor: pointer;
    
}

#ramo1 > img {
    position: absolute;
    bottom: -1050px;
    left: 711px;
}


#ramo2 > img {
    position: absolute;
    bottom: -1250px;
    right: 711px;
}

#ramo3 > img {
    position: absolute;
    bottom: -1390px;
    left: 711px;
}

#ramo4 > img {
    position: absolute;
    bottom: -1050px;
    left: 703px;
}

#ramo5 > img {
    position: absolute;
    bottom: -1050px;
    left: 703px;
}
