@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes escrevendo {
    from {
        width: 0;
    }
}

@keyframes piscando {
    50% {
        border-color: transparent;
    }
}

@keyframes subirDescer {
    0% { top: 0; }
    50% { top: -20px; }
    100% { top: 0; }
}

@keyframes start {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes desintegrar {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      transform: scale(2);
    }
    100% {
      opacity: 0;
      transform: scale(3);
    }
  }

:root {
    --fonte-letreiro: 'Press Start 2P', cursive;
    --fonte-padrao: 'Open Sans', sans-serif;
    --fonte-destaque: 'Koulen', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #190B42;
    /* overflow: hidden; */
}

#parte1,
#parte2,
#parte3 {
    height: 100vh;
}

.nuvens {
    width: 17%;
}

#nuvem-fina-1 {
    position: relative;
    left: 20px;
    top: 50px;
}
#nuvem-fina-2 {
    position: relative;
    left: 20px;
    top: 70px;
}
#nuvem-fina-3 {
    position: relative;
    left: 15px;
    top: 30px;
}

#nuvem-fina-1 {
    position: relative;
    left: 20px;
    top: 50px;
}
#nuvem-fina-2 {
    position: relative;
    left: 20px;
    top: 70px;
}
#nuvem-fina-3 {
    position: relative;
    left: 15px;
    top: 30px;
}

#nuvem-fina-4 {
    position: relative;
    left: 800px;
    top: 30px;
}

#mendes-dev {
    font-family: var(--fonte-letreiro);
    font-size: 40px;
    text-shadow: 3px 3px 3px black;
    position: absolute;
    bottom: 350px;
    left: 480px;
    color: white;
    border-radius: 4px solid;
    width: 11ch;
    white-space: nowrap;
    overflow: hidden;
    animation: escrevendo 1.2s steps(11),
        piscando 0.7s infinite step-end alternate;
}

.animacao {
    position: relative;
    animation-name: subirDescer;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.start {
    animation: start 2s infinite;
    animation-iteration-count: infinite;
}


#minha-foto {
    margin: 0 40% 0 40%;
}

#texto-apresentacao {
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: var(--fonte-letreiro);
    font-size: medium;
    bottom: -500px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 10px;
}

p span {
    color: goldenrod;
}

#seta1 {
    position: absolute;
    bottom: 35px;
    left: 110px;
}

#seta2 {
    position: absolute;
    bottom: -725px;
    left: 110px;
}

#seta1,
#seta2 > img:hover {
    cursor: pointer;
}


#start-button {
    position: absolute;
    bottom: -1200px;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.desintegrar {
    animation: desintegrar 1s ease-in-out forwards;
}

#start-button:hover {
    cursor: pointer;
}

#imagem-chao {
    
}